header{
    min-height: 80px;
    background-color: #2C3E50;
}

img{
    width: 100%;
}

.jumbotron{
    background-color: #1ABC9C;
}



.about{
    background-color: #1ABC9C;
}

.portfolio{
    padding-bottom: 40px;
}


.footer-top{
    background-color: #3A546D;
    min-height: 80px;
}

.footer-bottom{
    background-color: #2C3E50;
    min-height: 40px;
}


.lines{
    height: 5px;
    width: 15%;
}

