header{
    min-height: 80px;
    background-color: #2C3E50;
}



.jumbotron{
    min-height: 400px;
    background-color: #1ABC9C;
}

.portfolio{
    min-height: 500px;
    background-color: grey;
}

.card{
    min-height: 250px;
    background-color: red;
}

.about{
    background-color: #1ABC9C;
    min-height: 300px;
}

.contact-me{
    background-color: grey;
    min-height: 300px;
}